---
layout: layouts/home.njk
eleventyNavigation:
  key: contact
  order: 4

---

<form label="contactForm" netlify>
    <div class="border border-black",style="margin-top=30px";>
    
    <div class="mb-3">
        <div class="row g-3">
            <div class="col-md-4"style="margin-left:15px">
                <label for="validationCustom01" class="form-label" style="margin-top:17px">First name</label>
                <input type="text" class="form-control" id="validationCustom01"required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label" >Last name</label>
                <input type="text" class="form-control" id="validationCustom02"  required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="col-md-4 position-relative"style="margin-left:15px;margin-top:15px">
    <label for="validationTooltipEmail" class="form-label">Email</label>
    <div class="input-group has-validation">
      
      <input type="text" class="form-control" id="validationTooltipEmail" aria-describedby="validationTooltipEmailPrepend"style="line-height:2;" required>
      <div class="invalid-tooltip">
        Please choose a unique and valid username.
      </div>
    </div>
  </div>

    
    <div class="mb-3"style="margin-left:15px;margin-right:15px">
    <label for="validationTextarea" class="form-label">Message</label>
    <textarea class="form-control" id="validationTextarea" placeholder="Required example textarea" required="" spellcheck="true" style="line-height: 3;"></textarea>
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
  </div>
    

    <div class="mb-3 form-check"style="margin-left:15px">
        <input type="checkbox" class="form-check-input" id="exampleCheck1"style="margin-top:5px">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    
    <button type="submit" class="btn btn-primary"style="margin-bottom: 15px;margin-left: 15px";>Submit</button>
    </div>
</form>